<div>
  <form action="" [formGroup]="form!" (submit)="onSubmit()">
    <div class="form-field">
      <div class="form-field-header">{{ 'Title' | translate }}</div>
      <div class="form-field-control">
        <input type="text" [formControlName]="'title'" />
      </div>
    </div>

    <div class="form-field">
      <div class="form-field-header">{{ 'Price' | translate }}</div>
      <div class="form-field-control">
        <input type="number" min="0" [formControlName]="'price'" />
      </div>
    </div>

    <div class="form-field">
      <div class="form-field-header">{{ 'On Sale' | translate }}</div>
      <div class="form-field-control">
        <p-toggleswitch [formControlName]="'onSale'" />
      </div>
    </div>

    <div class="form-field">
      <div class="form-field-header">{{ 'Page Count' | translate }}</div>
      <div class="form-field-control">
        <input type="number" min="0" [formControlName]="'pageCount'" />
      </div>
    </div>

    <div class="form-field">
      <div class="form-field-header">{{ 'Author' | translate }}</div>
      <div class="form-field-control">
        <input type="text" [formControlName]="'author'" />
      </div>
    </div>

    <div class="form-control-buttons">
      <button type="submit" class="btn btn-sm btn-success" [disabled]="form!.invalid">
        <i class="fas fa-save"></i>
        {{ 'Save' | translate }}
      </button>

      <div>
        <button
          *ngIf="book"
          type="button"
          class="btn btn-sm btn-danger"
          style="margin-right: 0.5em"
          (click)="onDelete()"
        >
          <i class="fas fa-trash"></i>
          {{ 'Delete' | translate }}
        </button>

        <button type="button" class="btn btn-sm btn-secondary" (click)="onCancel()">
          <i class="fas fa-ban"></i>
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
